@import 'tailwindcss';
/* Import the variable font stylesheet */
@import '@fontsource-variable/plus-jakarta-sans';

@theme {
    --color-background: var(--color-gray-950);
    --color-foreground: #ffffff;
    --font-sans: 'Plus Jakarta Sans Variable', sans-serif;
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
}
